    <!-- Load jQuery first -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <!-- Then load Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Then load your own custom scripts -->
    <script src="/js/functions.js"></script>

    <!-- fonawesome scripts -->
    <script src="https://kit.fontawesome.com/39a8d3b9cc.js" crossorigin="anonymous"></script>
</body>
</html>
