
<header class="navbar" >
    <div class="container-fluid">
       <div class="icon">
            <img src="images/logo.png" alt="mask logo">
       </div>
       <ul class="nav justify-content-end">
            <li class="nav-item li-active">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn my-btn dropdown-toggle nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Get Started
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item nav-link" href="/register">Sign Up</a></li>
                      <li><a class="dropdown-item nav-link" href="/login">Login</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#credit">Credit</a>
            </li>
        </ul>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fa-solid fa-bars"></i>
        </label>
    </div>
</header>


<img src="images/vector-1.png" alt="vector-2" class="vector" id="vector-1">
<img src="images/vector-2.png" alt="vector-2" class="vector" id="vector-2">