<%- include('partials/header') %>

<%- include('partials/navbar') %>

<section id="home">
    <div class="home">
        <div class="home-content">
           <h2>Send messages with your identity hidden</h2> 
           <p>With MASK, you can send and receive anonymous messages to and from anyone you want. Sign up, get your special link and share it with your friends - it's that easy really.</p>
           <button class="btn"><a href="/register">Get Started</a></button>
        </div>
        <div class="home-img">
            <img src="images/half-mask.png" alt="half-mask" class="half-mask">
            <img src="images/full-mask.png" alt="full-mask" class="full-mask"> 
        </div>
    </div>
</section>
<section id="about">
    <div class="about-container">
        <p>Why use Mask?</p>
        <div class="cards">
            <div>
                <div class="card-content">
                    <i class="fa-solid fa-user-secret"></i>
                    <h3 class="color-1">Anonymity</h3>
                    <p>With your special link, your friends can express how they feel without exposing their identity...</p>
                </div>
                <div id="card-holder-1" class="card-holder"></div>
            </div>
            <div class="move-right">
                <div class="card-content">
                    <i class="fa-solid fa-universal-access"></i>
                    <h3 id="color-2">Ease</h3>
                    <p>MASK is very easy to use. Sign Up, share your special link and let ypur friends hide behind the MASK.</p>
                </div>
                <div id="card-holder-2" class="card-holder"></div>
            </div>
            <div>
                <div class="card-content">
                    <i class="fa-solid fa-user-lock"></i>
                    <h3 id="color-3">Security</h3>
                    <p>Your messages are for your eyes alone. Except you choose to share them of course...</p>
                </div>
                <div id="card-holder-3" class="card-holder"></div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>
