<p>Welcome <%= username %> to your home page.</p>
<div>
    <a href="/logout">Logout</a>
</div>

<div>
    <a href="/users/ <%=username.trim() %> /sendmask">Send <%= username %> an anonymous message ></a>
</div>